<div>
    <div class="modal-content">
        <div class="modal-header">
           <b>Remove widget</b>
        </div>
        <div class="modal-body">
            Are you sure you want to remove the widget? <br>
            Removing the widget will remove it from local storage <br>
            All changes will be lost.
        </div>
        <div class="modal-footer ng-scope">
            <button class="btn btn-danger" ng-click="ok()">Remove</button>
            <button class="btn btn-success" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>
