<div ng-if=inDetailsMode() class="col-xs-12 col-md-3 containerStyle leftMargin">
        <h1 class="siteFont">Widget Details </h1>
        <button type="button" class="btn btn-danger widgetDetailsCloseButton" ng-click="closeDetails()">x</button>
        <p>All available widget details , containing key value that define the widget </p><br>
        <p>
            <b>{{widgetDetails.name}}</b><br>
            <ul class="unstyled">
                <li>key1: {{widgetDetails.key1}}</li>
                <li>key2: {{widgetDetails.key2}}</li>
                <li>key3: {{widgetDetails.key3}}</li>
                <li>key4: {{widgetDetails.key4}}</li>
                <li>key5: {{widgetDetails.key5}}</li>
            </ul>
        </p>
        <button type="button" title="Press to edit the widget details" class="btn btn-primary" ui-sref="edit({id: widgetDetails.id})">Edit</button>
</div>
