<div>
    <div class="col-xs-10 col-md-8 containerStyle leftMargin">
        <h1 class="siteFont ">Widget summary </h1>
        <p>Table of all available widgets</p>
        <table class="table table-striped " >
            <thead>
            <tr>
                <th>Name</th>
                <th>Details</th>
                <th>Remove</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in widgetList">
                <td>{{item.name}}</td>
                <td><button type="button" title="Press to view widget details" class="btn btn-success" ui-sref="index({id: widgetList[$index].id})">details</button></td>
                <td><button type="button" title="Press to remove widget" class="btn btn-danger" ng-click="remove($index,widgetList[$index].id)">remove</button></td>
            </tr>
            </tbody>
        </table>
        <button type="button" title="Press to add new widget" class="btn btn-primary" ui-sref="edit">Add widget</button>
    </div>

</div>