<div ng-if=inDetailsMode() class="col-xs-12 col-md-4 widgetDetails ">
        <h1 class="siteFont">Widget Details </h1>
        <button type="button" class="btn btn-primary widgetDetailsCloseButton" ng-click="closeDetails()">x</button>
        <p>All available widget details , containing key value that define the widget </p><br>
        <p>
            <b>{{widgetDetails.name}}</b><br>
             key1: {{widgetDetails.key1}}<br>
             key2: {{widgetDetails.key2}}<br>
             key3: {{widgetDetails.key3}}<br>
             key4: {{widgetDetails.key4}}<br>
             key5: {{widgetDetails.key5}}
        </p>
        <button type="button" title="Press to edit the widget details" class="btn btn-primary" ui-sref="edit({id: widgetDetails.id})">Edit</button>
</div>
