/* Import fonts */
.siteFont{
    font-family: "Bookman", Georgia, "Times New Roman", serif;
}

.headerTitle{
    width: 300px;
    margin: 14px auto;
}

.editWidget{
 padding: 5px;
}
.keyValueStyle{
    margin-left: 10px;
}

.containerStyle{
    background: #ededed;
    padding: 12px;
    border-radius: 10px;
}

.editWidgetButton{
    display: inline-block;
    float: right;
}

.leftMargin{
    margin-left: 10px;
}

.widgetDetailsCloseButton{
    border-radius: 18px !important;
    width: 27px;
    height: 28px;
    padding: 3px !important;
    right: 6px;
    position: absolute;
    top: 6px;
}

.unstyled{
    list-style-type: none;
    padding-left: 0px;

}

.red{
    border-color: red !important;
}