body{
    background-color: #009de0 !important;
}

.siteFont{
    font-family: "Bookman", Georgia, "Times New Roman", serif;
}

.headerTitle{
    width: 300px;
    margin: 14px auto;
}

.editWidget{
 padding: 5px;
}
.keyValueStyle{
    margin-left: 10px;
}
.keyValue{
    display: inline-flex;
    margin-left: 15px;
    margin-top: 7px;
    margin-right: 5px;
}
.keyValueButton{
    margin-left: 5px;
    border-radius: 24px !important;
    width: 31px;
    height: 25px;
    padding: 0px !important;
    margin-top: 5px;
}
.HelpMessage{
    margin-left: 30px;
    color: red;
}

.editHelpMessage{
    color: red;
}

.containerStyle{
    background: #ededed;
    padding: 12px;
    border-radius: 10px;
    margin: 5px;
}

.editWidgetButton{
    display: inline-block;
    float: right;
}

.leftMargin{
    margin-left: 10px;
}

.widgetDetailsCloseButton{
    border-radius: 18px !important;
    width: 27px;
    height: 28px;
    padding: 3px !important;
    right: 6px;
    position: absolute;
    top: 6px;
}

.unstyled{
    list-style-type: none;
    padding-left: 0px;

}

.red{
    border-color: red !important;
}