/* Import fonts */
.siteFont{
    font-family: "Bookman", Georgia, "Times New Roman", serif;
}

.headerTitle{
    width: 300px;
    margin: 14px auto;
}

/*homePage css*/
.widgetSummary{

}

.widgetDetails{

}

.container{
 border: 1px solid #000000;
 border-radius: 10px;
 margin-left: 5px;
 padding: 5px;
}

.editWidgetButton{
    display: inline-block;
    float: right;

}